:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  min-width: 320px;
}

/* Si quieres mantener estilos base de links */
a {
  font-weight: 500;
  text-decoration: inherit;
}
